*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
h1{
     background-color: black;
     color:white;
     text-align: center;
     margin:15px;
     padding:20px;

}
nav ul {
    list-style: none;
    color:black;
    padding:10px;
    text-decoration: none;
    gap:15px;
    background-color: rgba(169, 169, 169, 0.401);
    display:flex;
    justify-content: center;

}
li a{list-style: none;
    text-decoration:none;
 }
